* {
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

.nav-item {
    font-weight: bolder;
    color: white;
}

#menu .button {
    color: white;
}

.dark-blue {
    background-color: #00447f;
}

.light-blue {
    background-color: #799dd1;
}

#light {
    color: #799dd1;
}

#main {
    background-image: url(../IMAGES/essexrangersbackground.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

#main-rev {
    background-image: url(../IMAGES/essexrangersbackgroundreverse.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

#main-rev-dark {
    background-image: url(../IMAGES/essexrangersbackgroundreverse.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
}

#background {
    background-image: url(../IMAGES/369.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

#background1 {
    background-image: url(../IMAGES/0383.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

#background2 {
    background-image: url(../IMAGES/393.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

#background3 {
    background-image: url(../IMAGES/405.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

#background4 {
    background-image: url(../IMAGES/444.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

#background5 {
    background-image: url(../IMAGES/469.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

#background6 {
    background-image: url(../IMAGES/501.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}